cachelib==0.1.1
email_validator==1.1.2
flask-compress==1.9.0
flask-logconfig==0.4.2
flask-script==2.0.6
flask-wtf==0.14.3
flask==1.1.2
govuk-frontend-jinja==1.2.0
govuk-frontend-wtf==0.1.0
gunicorn==19.10.0  # latest 20.0.4
misaka==2.1.1
requests==2.25.1