{% extends 'app/2-column-layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ readme|markdown }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">Primary</h2>
            <a class="govuk-link" href="#">This is some sort of link</a>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-l">Secondary</h2>
          <a class="govuk-link hmlr-link--secondary" href="#">This is some sort of link</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
