{% from "app/vendor/.govuk-frontend/components/input/macro.html" import govukInput %}
{% from "app/vendor/.govuk-frontend/components/textarea/macro.html" import govukTextarea %}
{% extends 'app/wide-layout.html' %}

{% set backurl = "/" %}


{% block inner_content %}
  {{ readme|markdown }}

  <h2 class="govuk-heading-m">Text input</h2>
  {{ govukInput({
    "label": {
      "text": "Label"
    },
    "id": "label",
    "classes": "govuk-!-width-three-quarters",
    "name": "label"
  }) }}
  <h2 class="govuk-heading-m">Text input with error message</h2>
  {{ govukInput({
    "label": {
      "text": "Label"
    },
    "errorMessage": {
      "text": "This field is required",
      "classes": "'govuk-error-message govuk-!-width-three-quarters"
    },
    "id": "label",
    "classes": "govuk-!-width-three-quarters",
    "name": "label"
  }) }}
  <h2 class="govuk-heading-m">Textarea</h2>
  {{ govukTextarea({
    "name": "more-detail",
    "id": "more-detail",
    "label": {
      "text": "Can you provide more detail?"
    },
    "classes": "govuk-!-width-three-quarters",
    "hint": {
      "classes": "govuk-!-width-three-quarters",
      "text": "Do not include personal or financial information, like your National Insurance number or credit card details."
    }
  }) }}
  <h2 class="govuk-heading-m">Textarea with error message</h2>
  {{ govukTextarea({
    "name": "more-detail",
    "id": "more-detail",
    "label": {
      "text": "Can you provide more detail?"
    },
    "hint": {
      "classes": "govuk-!-width-three-quarters",
      "text": "Do not include personal or financial information, like your National Insurance number or credit card details."
    },
    "classes": "govuk-!-width-three-quarters",
    "errorMessage": {
      "text": "Enter more detail"
    }
  }) }}
{% endblock %}
