.hmlr-theme {
  $alt-button: #2b8cc4;
  $alt-button--disabled: #709cc7;
  $alt-button--hover: #295184;

  .govuk-button {
    font-size: $font-size;
    padding: 8px 20px;
  }

  .hmlr-button--alt {
    background-color: $alt-button;

    &[disabled] {
      background-color: $alt-button--disabled;

      &:hover {
        background-color: $alt-button--disabled;
      }
    }

    &:hover {
      background-color: $alt-button--hover;
    }

    &:focus {
      background-color: $alt-button--hover;
    }
  }
}
