{% from 'components/header/macro.html' import header %}
{% from 'components/back-link/macro.html' import hmlrBackLink %}
{% extends 'app/layout.html' %}
{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{ hmlrBackLink({
       "text": "Back",
        "href": "/"
      }) }}
    </div>
  </div>
{% endblock %}
{% block inner_content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ hmlrBackLink({
        "text": "Back",
          "href": "/"
        }) }}
      </div>
  </div>
  {{ readme|markdown }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s">Without a homepage link</h2>
  {{ header() }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s">With a homepage link</h2>
  {{ header({
    'homepageUrl': '/'
  }) }}
{% endblock %}
