{% from 'components/header/macro.html' import header %}
{% extends 'app/layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ readme|markdown }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Without a homepage link</h2>
      {{ header() }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">With a homepage link</h2>
      {{ header({
        'homepageUrl': '/'
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">As a React component</h2>
      <div id="demo"></div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    ReactDOM.render(React.createElement(window.Header, null), document.getElementById('demo'))
  </script>
{% endblock %}
