// GOV.UK Design System
$govuk-images-path: '/ui/.govuk-frontend/images/';
$govuk-fonts-path: '/ui/.govuk-frontend/fonts/';
$govuk-font-family: "Arial", sans-serif;
$govuk-root-font-size: 19px;

@import 'govuk-frontend/govuk/all';

// HMLR Design System
@import '../../../../hmlr_design_system/settings/variables';

@import '../../../../hmlr_design_system/components/layout/style';
@import '../../../../hmlr_design_system/components/header/style';
@import '../../../../hmlr_design_system/components/back-link/style';
@import '../../../../hmlr_design_system/components/button/style';
@import '../../../../hmlr_design_system/components/links/style';
@import '../../../../hmlr_design_system/components/typography/style';
@import '../../../../hmlr_design_system/components/footer/style';
@import '../../../../hmlr_design_system/components/cookie-banner/style';

// App specific code
@import 'partials/code-blocks';
@import 'partials/nav';
