body.hmlr-full-height {
  position: relative;
  min-height: 100vh;
}

.hmlr-grid-row {
  display: flex;
}

.hmlr-grid-column {
  min-width: $hmlr-grid-column-width;
  padding: $hmlr-grid-padding / 2;
  width: $hmlr-grid-column-width;
  box-sizing: border-box;
  min-height: 100%;

  @include govuk-media-query(1024px) {
    padding: $hmlr-grid-padding;
  }

  & + & {
    border-left: 1px solid govuk-colour("grey-1");
  }
}

.hmlr-grid-column--main {
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}
