.hmlr-checkboxes {

  .govuk-checkboxes__item {
    min-height: 26px;
    padding: 0 0 0 26px;

    .govuk-checkboxes__input {
      width: 26px;
      height: 26px;

      + .govuk-checkboxes__label {
        font-size: $font-size;
        padding: 0px 10px;

        &:before {
          width: 26px;
          height: 26px;
        }

        &:after {
          top: 8px;
          left: 6px;
          border-width: 0 0 4px 4px;
          width: 14px;
          height: 7px;
        }
      }
    }

    .govuk-checkboxes__hint {
      padding: 0 10px;
    }
  }

  .govuk-checkboxes__conditional {
    margin-left: 11px;
    padding-left: 22px;
    border-width: 3px;
  }
}

