{% from 'components/checkboxes/macro.html' import hmlrCheckboxes %}
{% extends 'app/layout.html' %}

{% block inner_content %}
  {{ readme|markdown }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{ hmlrCheckboxes({
      "idPrefix": "waste",
      "name": "waste",
      "fieldset": {
        "legend": {
          "text": "Which types of waste do you transport?",
          "isPageHeading": False,
          "classes": "hmlr-fieldset__legend--l"
        }
      },
      "hint": {
        "text": "Select all that apply."
      },
      "items": [
        {
          "value": "carcasses",
          "text": "Waste from animal carcasses"
        },
        {
          "value": "mines",
          "text": "Waste from mines or quarries"
        },
        {
          "value": "farm",
          "text": "Farm or agricultural waste"
        }
      ]
    }) }}

    <h2 class="hmlr-heading-l">Checkbox items with hints</h2>

    {{ hmlrCheckboxes({
      "idPrefix": "nationality",
      "name": "nationality",
      "fieldset": {
        "legend": {
          "text": "What is your nationality?",
          "isPageHeading": False,
          "classes": "hmlr-fieldset__legend--l"
        }
      },
      "hint": {
        "text": "If you have dual nationality, select all options that are relevant to you."
      },
      "items": [
        {
          "value": "british",
          "text": "British",
          "hint": {
            "text": "including English, Scottish, Welsh and Northern Irish"
          }
        },
        {
          "value": "irish",
          "text": "Irish",
          "label": {
            "classes": "hmlr-checkboxes__label"
          }
        },
        {
          "value": "other",
          "text": "Citizen of another country"
        }
      ]
    }) }}
    </div>
  </div>
{% endblock %}
