{% from "app/vendor/.govuk-frontend/components/radios/macro.html" import govukRadios %}
{% from "app/vendor/.govuk-frontend/components/input/macro.html" import govukInput %}
{% extends 'app/2-column-layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ readme|markdown }}
      {{ govukRadios({
        "classes": "govuk-radios--inline",
        "idPrefix": "changed-name",
        "name": "changed-name",
        "fieldset": {
          "legend": {
            "text": "Have you changed your name?",
            "isPageHeading": False,
            "classes": "govuk-fieldset__legend--l"
          }
        },
        "hint": {
          "classes": "govuk-hint",
          "text": "This includes changing your last name or spelling your name differently."
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
      }) }}

      {{ govukRadios({ idPrefix: "where-do-you-live",
        "name": "where-do-you-live",
        "fieldset": {
        "legend": {
        "text": "Where do you live?",
        "isPageHeading": False,
        "classes": "govuk-fieldset__legend--l"
        }
      },
      "items": [
        {
          "value": "england",
          "text": "England"
        },
        {
          "value": "scotland",
          "text": "Scotland"
        },
        {
          "value": "wales",
          "text": "Wales"
        },
        {
          "value": "northern-ireland",
          "text": "Northern Ireland"
        }
      ]
    }) }}

    {{ govukRadios({
      "idPrefix": "sign-in",
      "name": "sign-in",
      "fieldset": {
        "legend": {
          "text": "How do you want to sign in?",
          "isPageHeading": False,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "hint": {
        "text": "You'll need an account to prove your identity and complete your Self Assessment."
      },
      "items": [
        {
          "value": "government-gateway",
          "text": "Sign in with Government Gateway",
          "label": {
            "classes": "govuk-label--s"
          },
          "hint": {
            "text": "You'll have a user ID if you've registered for Self Assessment or filed a tax return online before."
          }
        },
        {
          "value": "govuk-verify",
          "text": "Sign in with GOV.UK Verify",
          "label": {
            "classes": "govuk-label--s"
          },
          "hint": {
            "text": "You'll have an account if you've already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity."
          }
        }
      ]
    }) }}

    {% set emailHtml %}
      {{ govukInput({
        "id": "contact-by-email",
        "name": "contact-by-email",
        "type": "email",
        "classes": "govuk-!-width-one-third",
        "label": {
          "text": "Email address"
        },
        "attributes": {
          "spellcheck": "false"
        }
      }) }}
    {% endset -%}

    {% set phoneHtml %}
      {{ govukInput({
        "id": "contact-by-phone",
        "name": "contact-by-phone",
        "type": "tel",
        "classes": "govuk-!-width-one-third",
        "label": {
          "text": "Phone number"
        }
      }) }}
    {% endset -%}

    {% set textHtml %}
      {{ govukInput({
        "id": "contact-by-text",
        "name": "contact-by-text",
        "type": "tel",
        "classes": "govuk-!-width-one-third",
        "label": {
          "text": "Mobile phone number"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      "attributes": {
        "data-module": "radios"
      },
      "classes": "govuk-radios--conditional",
      "idPrefix": "how-contacted-conditional",
      "name": "how-contacted",
      "fieldset": {
        "legend": {
         "text": "How would you prefer to be contacted?",
          "isPageHeading": False,
          "classes": "govuk-fieldset__legend--l"
        }
      },
      "hint": {
        "text": "Select one option."
      },
      "items": [
        {
          "value": "email",
          "text": "Email",
          "conditional": {
            "html": emailHtml
          }
        },
        {
          "value": "phone",
          "text": "Phone",
          "conditional": {
            "html": phoneHtml
          }
        },
        {
          "value": "text",
          "text": "Text message",
          "conditional": {
            "html": textHtml
          }
        }
      ]
    }) }}
    </div>
  </div>
{% endblock %}
