@import '../../settings/colours';
@import '../../utilities/hexa-border';

.hmlr-header {
  @include govuk-width-container();
}

.hmlr-header__inner {
  @include govuk-clearfix;
  @extend %hexaborder;
  padding: govuk-spacing(5) govuk-spacing(3);
}

.hmlr-header__link {
  @include govuk-focusable;
  float: left;

  &:focus {
    outline-offset: govuk-spacing(3) - $govuk-focus-width;
  }
}

.hmlr-header__logo {
  width: 225px;
  max-width: 100%;
  display: block;
}
