{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% extends 'wide-layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}
  {{ readme|markdown }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Primary</h2>
      <h3 class="govuk-heading-m">Default</h3>
      {{ govukButton({
        "type": "button",
        "text": "Label"
      }) }}
      <h3 class="govuk-heading-m">Disabled</h3>
      {{ govukButton({
        "type": "button",
        "value": "Label",
        "disabled": "disabled",
        "text": "Label"
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Secondary</h2>
      <h3 class="govuk-heading-m">Default</h3>
      {{ govukButton({
        "type": "button",
        "text": "Label",
        "classes": "hmlr-button--alt"
      }) }}
      <h3 class="govuk-heading-m">Disabled</h3>
      {{ govukButton({
        "type": "button",
        "value": "Label",
        "disabled": "disabled",
        "text": "Label",
        "classes": "hmlr-button--alt"
      }) }}
    </div>
  </div>
{% endblock %}
