{% from 'components/back-link/macro.html' import hmlrBackLink %}
{% from 'components/button/macro.html' import hmlrButton %}
{% from 'components/button-alt/macro.html' import hmlrButtonAlt %}
{% extends 'app/layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}

  {{ readme|markdown }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="hmlr-heading-l">Primary</h2>
      <h3 class="hmlr-heading-m">Default</h3>
      {{ hmlrButton({
        "type": "button",
        "text": "Label"
      }) }}
      <h3 class="hmlr-heading-m">Disabled</h3>
      {{ hmlrButton({
        "type": "button",
        "value": "Label",
        "disabled": "disabled",
        "text": "Label"
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="hmlr-heading-l">Secondary</h2>
      <h3 class="hmlr-heading-m">Default</h3>
       {{ hmlrButtonAlt({
        "type": "button",
        "text": "Label"
      }) }}
      <h3 class="hmlr-heading-m">Disabled</h3>
      {{ hmlrButtonAlt({
        "type": "button",
        "value": "Label",
        "disabled": "disabled",
        "text": "Label"
      }) }}
    </div>
  </div>
{% endblock %}
