{% macro headerInternal(params={}) %}
  <header class="hmlr-header--internal {{params.classes}}">
    <div class="hmlr-header__inner">
      {% if params.headerTitle %}
      <p class="hmlr-header__title">
        {% if params.homepageUrl %}
          <a href="{{ params.homepageUrl }}" class="hmlr-header__link">
            {{params.headerTitle}}
          </a>
        {%- else -%}
          {{params.headerTitle}}
        {%- endif -%}
       </p>
      {% endif %}
    </div>
  </header>
{% endmacro %}
