@import '../../settings/variables';
@import '../../utilities/hexa-border';

.hmlr-header--internal {
  width: 100%;
  background-color: $black;
  color: $white;
  border-bottom: 10px solid $hmlr-green-1;

  .hmlr-header__inner {
    @include govuk-clearfix;
    padding: 10px 15px 10px 330px;

    &.left-aligned {
      padding: 10px 15px;
    }

    &.right-aligned {
      padding: 10px 15px;
      text-align: right;

      .hmlr-header__link {
        float: none;
      }
    }
  }

  .hmlr-header__title {
    @extend %govuk-heading-l;
    font-size: 26px;
    color: $white;
    margin-bottom: 0;

    @include tablet-portrait {
      font-size: 30px;
    }
  }

  .hmlr-header__link {
    @include govuk-focusable;
    color: $white;
    float: left;
    text-decoration: none;

    &:focus {
      outline-offset: 0;
    }

    &:hover {
      border-bottom: 2px solid $white;
      margin-bottom: -2px;
    }
  }

  .hmlr-header__logo {
    width: 225px;
    max-width: 100%;
    display: block;
    border: 0;
  }
}
