$hmlr-green-1: #b4d307;
$hmlr-green-2: #d7e900;
$white: #fff;

//buttons
$alt-button: #2b8cc4;
$alt-button--disabled: #709cc7;
$alt-button--hover: #295184;

$govuk-canvas-background-colour: #fff;

$font: arial, helvetica, sans-serif;
$font-size: 16px;
$meta-font-size: 14px;
$font-color: #0b0c0c;
$font-color--secondary: #6f777b;
$border: #bfc1c3;
