$hmlr-green-1: #b4d307;
$hmlr-green-2: #d7e900;
$white: #fff;

//buttons
$alt-button: #2b8cc4;
$alt-button--disabled: #709cc7;
$alt-button--hover: #295184;

$govuk-canvas-background-colour: #fff;

$font: arial, helvetica, sans-serif;
$font-size: 16px;
$meta-font-size: 14px;
<<<<<<< HEAD
$font-hint-color: 	#6f777b;
=======
$font-color: #0b0c0c;
$font-color--secondary: #6f777b;
>>>>>>> 24efe70db57f468005cf22f44d8b6a2d9d4774cf
