{% macro footer(params={}) %}
  <footer class="hmlr-footer {{params.classes}} {% if params.variant %}hmlr-footer--{{params.variant}}{% else %}hmlr-footer--white{% endif %}">
    <div class="hmlr-footer__inner">
      {% if params.variant == 'dark' %}
        {% set logo_path = url_for('static', filename='images/hmlr-design-system/footer/logo-greyscale.png') %}
        <img class="hmlr-footer__logo" width="172" height="53" src="{{ logo_path }}" alt="HM Land Registry">
      {% endif %}

      {% if params.meta %}
        {% if params.meta['items'] %}
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="hmlr-footer__links">
            {% for item in params.meta['items'] %}
              <li class="hmlr-footer__item">
                <a class="hmlr-footer__link" href="{{ item.href }}"{% for attribute, value in (item.attributes.items() if item.attributes else {}.items()) %} {{attribute}}="{{value}}"{% endfor %}>
                  {{ item.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
  </footer>
{% endmacro %}
