@import '../../utilities/hexa-border';

/**
 * Base styles
 */
.hmlr-footer {
  @include govuk-width-container;
  @include govuk-typography-common;
  color: $govuk-secondary-text-colour;
}

.hmlr-footer__inner {
  padding: govuk-spacing(8) 0;
  @include govuk-clearfix;
}

.hmlr-footer__links {
  padding: 0;
  margin: 0;
}

.hmlr-footer__item {
  list-style: none;
  margin-bottom: govuk-spacing(4);
}

.hmlr-footer__link {
  @include govuk-focusable-fill;

  &:link,
  &:visited {
    color: $govuk-secondary-text-colour;
  }

  &:hover,
  &:active {
    color: $govuk-text-colour;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

// Large viewport display
@include govuk-media-query($from: tablet) {
  .hmlr-footer__links {
    letter-spacing: -4px;
  }

  .hmlr-footer__item {
    display: inline-block;
    position: relative;
    margin: 0 govuk-spacing(2) 0 0;
    padding-right: govuk-spacing(2);
    letter-spacing: normal;

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 66%;
      width: 1px;
      background-color: $govuk-secondary-text-colour;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

/**
 * White variant, suitable for Portal
 */
 .hmlr-footer--white {
  .hmlr-footer__inner {
    @extend %hexaborder--top;
  }
}


/**
 * Dark variant, to complement the dark variant header
 */
.hmlr-footer--dark {
  background: govuk-colour('grey-3');
  border-top: 1px solid #131212;

  .hmlr-footer__logo {
    float: right;
    margin-left: govuk-spacing(8);
  }
}

/**
 * Full width
 */
 .hmlr-footer--full-width {
   max-width: none;
   margin: 0;

   .hmlr-footer__inner {
    padding-left: $hmlr-grid-padding / 2;
    padding-right: $hmlr-grid-padding / 2;

    @include govuk-media-query($hmlr-grid-start-breakpoint) {
      padding-left: $hmlr-grid-padding;
      padding-right: $hmlr-grid-padding;
    }
  }
}

/**
 * Sticky footer
 */
.hmlr-footer--sticky {
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
