@import '../../utilities/hexa-border';

/**
* Base styles
*/
.hmlr-footer {
  width: 100%;
  @include govuk-width-container;
  @include govuk-typography-common;
  color: $govuk-secondary-text-colour;
}

.hmlr-footer__inner {
  padding: govuk-spacing(8) 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.hmlr-footer__links {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.hmlr-footer__item {
  list-style: none;
  margin-top: govuk-spacing(4);
}

.hmlr-footer__link {


  &:link,
  &:visited {
    color: $govuk-secondary-text-colour;
  }

  &:hover,
  &:active {
    color: $govuk-text-colour;
  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 0;
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
  }
}

// Large viewport display
@include govuk-media-query($from: tablet) {
  .hmlr-footer__links {
    letter-spacing: -4px;
    margin-right: govuk-spacing(8);
  }

  .hmlr-footer__item {
    display: inline-block;
    position: relative;
    margin: 0 govuk-spacing(2) 0 0;
    padding-right: govuk-spacing(2);
    letter-spacing: normal;

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 66%;
      width: 1px;
      background-color: $govuk-secondary-text-colour;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

/**
* White variant, suitable for Portal
*/
.hmlr-footer--white {
  .hmlr-footer__inner {
    @extend %hexaborder--top;
  }
}


/**
* Dark variant, to complement the dark variant header
*/
.hmlr-footer--dark {
  background: govuk-colour('light-grey');
  border-top: 1px solid #131212;

  .hmlr-footer__logo {
    margin-top: govuk-spacing(4);
    display: block;
    order: 1;
  }
}

/**
* Full width
*/
.hmlr-footer--full-width,
%hmlr-footer--full-width {
  max-width: none;
  margin: 0;

  .hmlr-footer__inner {
    padding-left: $hmlr-grid-padding / 2;
    padding-right: $hmlr-grid-padding / 2;

    @include govuk-media-query($hmlr-grid-start-breakpoint) {
      padding-left: $hmlr-grid-padding;
      padding-right: $hmlr-grid-padding;
    }
  }
}

/**
* Sticky footer
*/
.hmlr-sticky-footer { /* Apply to the <html> element */
  height: 100%;

  body {
    min-height: 100%;
  }

  .hmlr-layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .hmlr-grid-row {
    flex: 1 0 auto;
  }

  .hmlr-footer {
    flex-shrink: 0;
  }
}
