.app-nav__item {
  padding: 5px 0 5px 10px;
  margin: 0 0 5px 0;
  display: block;
  width: 100%;

  &:hover {
    border-left: 4px solid $hmlr-green-3;
    margin-left: -4px;

  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 0;
  }
}
