{% from 'components/header-internal/macro.html' import headerInternal %}
{% extends 'app/layout.html' %}

{% set backurl = "/" %}

{% block inner_content %}

  {{ readme|markdown }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s">Without a homepage link</h2>
  {{ headerInternal({
    'headerTitle': 'Application processing'
  }) }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s">With a homepage link</h2>
  {{ headerInternal({
    'headerTitle': 'Application processing',
    'homepageUrl': '/'
  }) }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s">As a React component with link</h2>
  <div id="demo"></div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    ReactDOM.render(React.createElement(window.Header, {headerTitle: 'Application processing', homepageUrl: '/'}), document.getElementById('demo'))
  </script>
{% endblock %}
