@import '../../settings/variables';

.hmlr-theme {
  .hmlr-meta {
    @include govuk-font($size: 16);
    color: $govuk-secondary-text-colour;
  }

  .govuk-list {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
}
