{% from "app/vendor/.govuk-frontend/components/skip-link/macro.html" import govukSkipLink %}
{% from "components/header/template.html" import header %}
{% from "components/footer/template.html" import footer %}

{% extends "app/vendor/.govuk-frontend/template.html" %}

{% set assetPath = url_for('static', filename='.govuk-frontend').rstrip('/') %}

{% block head %}
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main-ie8.css') }}" /><![endif]-->
{% endblock %}

{% block pageTitle %}{% block title %}{% endblock %}{%if self.title() %} - {% endif %}{{ service_name }}{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='javascripts/main.js') }}"> </script>
  <!--<![endif]-->
{% endblock %}

{% block bodyStart %}
  <div class="app-cookie-banner js-cookie-banner">
    <p class="app-cookie-banner__message">HM Land Registry uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" class="govuk-link">Find out more about cookies</a></p>
  </div>
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    'href': "#main-content",
    'text': "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
  {{ header({
    'homepageUrl': '/'
  }) }}
{% endblock %}

{% block content %}
  {% block inner_content %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ footer({
    'meta': {
      'items': [
        {
          'text': 'Terms and conditions',
          'href': '#'
        },
        {
          'text': 'Freedom of information',
          'href': 'https://www.gov.uk/government/organisations/land-registry#freedom-of-information'
        },
        {
          'text': '© Crown copyright',
          'href': 'https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/'
        }
      ],
    }
  }) }}
{% endblock %}
